<%- include("partial/header") %>

<h1><%= heading %></h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
    <% items.forEach((result) => { %>
    <tr>
      <td><%= result.name %></td>
      <td><%= result.location %></td>
    </tr>
    <% }); %>
  </table>


<%- include("partial/footer") %>
